# If you want to fill this file with all available options run the following command:
#   nscp settings --generate --add-defaults --load-all
# If you want to activate a module and bring in all its options use:
#   nscp settings --activate-module <MODULE NAME> --add-defaults
# For details run: nscp settings --help


[/settings/default]

password = {{ nsclient_settings_password }}

allowed hosts = {{ nsclient_settings_allowed_hosts }}


[/settings/NRPE/server]

ssl options = {{ nsclient_nrpe_ssloptions }}

verify mode = {{ nsclient_nrpe_verify_mode }}

insecure = {{ nsclient_nrpe_insecure }}

allow arguments = {{ nsclient_nrpe_allow_arguments }}
verify mode = {{ nsclient_nrpe_verify_mode }}
insecure = {{ nsclient_nrpe_insecure }}

[/modules]

CheckExternalScripts = {{ nsclient_modules_checkexternalscripts }}

CheckHelpers = {{ nsclient_modules_checkhelpers }}

CheckEventLog = {{ nsclient_modules_checkeventlog }}

CheckNSCP = {{ nsclient_modules_checknscp }}

CheckDisk = {{ nsclient_modules_checkdisk }}

CheckSystem = {{ nsclient_modules_checksystem }}

NRPEServer = {{ nsclient_modules_nrpeserver }}

[/settings/external scripts]
allow arguments={{ nsclient_external_scripts_allow_arguments }}

[/settings/external scripts/scripts]
{% for external_script in nsclient_external_scripts %}
{{ external_script.name }}={{ external_script.command }}
{% endfor %}
