#jinja2: newline_sequence:'\r\n'
# If you want to fill this file with all available options run the following command:
#   nscp settings --generate --add-defaults --load-all
# If you want to activate a module and bring in all its options use:
#   nscp settings --activate-module <MODULE NAME> --add-defaults
# For details run: nscp settings --help


[/settings/default]
{% if nsclient_settings_password is defined  %}
password = {{ nsclient_settings_password }}
{% endif %}
; ALLOWED HOSTS - A comaseparated list of allowed hosts. You can use netmasks (/ syntax) or * to create ranges.
{% if nsclient_settings_allowed_hosts is defined  %}
allowed hosts = {{ nsclient_settings_allowed_hosts }}
{% else %}
allowed hosts = 127.0.0.1
{% endif %}

[/settings/NRPE/server]
{% if nsclient_nrpe_ssloptions is defined  %}
ssl options = {{ nsclient_nrpe_ssloptions }}
{% endif %}
{% if nsclient_nrpe_insecure is defined  %}
insecure = {{ nsclient_nrpe_insecure }}
{% endif %}
{% if nsclient_nrpe_allow_arguments is defined  %}
allow arguments = {{ nsclient_nrpe_allow_arguments }}
{% endif %}
{% if nsclient_nrpe_allow_nasty_chars is defined  %}
allow nasty characters = {{ nsclient_nrpe_allow_nasty_chars }}
{% endif %}
{% if nsclient_nrpe_verify_mode is defined  %}
verify mode = {{ nsclient_nrpe_verify_mode }}
{% endif %}

[/modules]

; CheckDisk - CheckDisk can check various file and disk related things. The current version has commands to check Size of hard drives and directories.
CheckDisk = {{ nsclient_modules_checkdisk | default(1) }}

; Event log Checker. - Check for errors and warnings in the event log. This is only supported through NRPE so if you plan to use only NSClient this wont help you at all.
CheckEventLog = {{ nsclient_modules_checkeventlog | default(1) }}

; Check External Scripts - A simple wrapper to run external scripts and batch files.
CheckExternalScripts = {{ nsclient_modules_checkexternalscripts | default(1) }}

; Helper function - Various helper function to extend other checks. This is also only supported through NRPE.
CheckHelpers = {{ nsclient_modules_checkhelpers | default(1) }}


; Check NSCP - Checkes the state of the agent
CheckNSCP = {{ nsclient_modules_checknscp | default(1) }}

; CheckSystem - Various system related checks, such as CPU load, process state, service state memory usage and PDH counters.
CheckSystem = {{ nsclient_modules_checksystem | default(1) }}


; CheckWMI - CheckWMI can check various file and disk related things. The current version has commands to check Size of hard drives and directories.
CheckWMI = {{ nsclient_modules_checkwmi | default(1) }}

; NRPE server - A simple server that listens for incoming NRPE connection and handles them.
NRPEServer = {{ nsclient_modules_nrpeserver | default(1) }}

; NSCAClient - Passive check support over NSCA.
NSCAClient = {{ nsclient_modules_nscaclient | default(1) }}

; NSClient server - A simple server that listens for incoming NSClient (check_nt) connection and handles them. Although NRPE is the preferred method NSClient is fully supported and can be used for simplicity or for compatibility.
NSClientServer = {{ nsclient_modules_nsclientserver | default(1) }}

[/settings/external scripts]
{% if nsclient_external_scripts_allow_arguments is defined  %}
allow arguments={{ nsclient_external_scripts_allow_arguments }}
{% endif %}
{% if nsclient_external_scripts_allow_nasty_chars is defined  %}
allow arguments = {{ nsclient_external_scripts_allow_nasty_chars }}
{% endif %}
[/settings/external scripts/scripts]
{% for external_script in nsclient_external_scripts %}
{{ external_script.name }}={{ external_script.command }}
{% endfor %}

